<div class="container footer-container">
    <div class="footer-first-box">
        <a href="./index.html" class="last-logo">Web<span class="dark-studio">Studio</span></a>
        <p class="bottom-text">Increase the flow of customers and
            sales for your business with digital
            marketing &amp; growth solutions.</p>
    </div>
    <div class="socials-footer">
        <p class="social-meadia-text">Social media</p>
        <ul class="icons-socials-footer">
            <li class="icons-socials-footer-list">
                <a class="circle footer-link" href="https://www.instagram.com/">
                    <svg class="team-media-icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="icons-socials-footer-list">
                <a class="circle footer-link" href="https://x.com/">
                    <svg class="team-media-icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="icons-socials-footer-list">
                <a class="circle footer-link" href="https://www.facebook.com/?locale=uk_UA">
                    <svg class="team-media-icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="icons-socials-footer-list">
                <a class="circle footer-link" href="https://www.linkedin.com/feed/">
                    <svg class="team-media-icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="subscribe-box">
        <p class="subs-text">Subscribe</p>

        <form class="subscribe-form" name="subscribe-form">
            <label for="subs-mail" class="footer-subs-label">
                <input id="subs-mail" type="email" placeholder="E-mail" name="email-subscribe" class="subscribe-input"
                    required />
            </label>
            <button type="submit" class="subscribe-btn">
                Subscribe
                <svg class="plane-icon-form" width="24" height="24">
                    <use href="./images/icons.svg#icon-plane"></use>
                </svg>
            </button>

        </form>

    </div>
</div>