<div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">

        <button type="button" class="mobile-menu-close" data-menu-close>
            <svg class="mobile-menu-icon" width="8" height="8">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>

        <nav class="mobile-menu-nav">
            <ul class="menu-nav-list">
                <li><a href="#" class="menu-nav-item studio">Studio</a></li>
                <li><a href="" class="menu-nav-item">Portfolio</a></li>
                <li><a href="" class="menu-nav-item">Contacts</a></li>
            </ul>
        </nav>

        <address class="mobile-menu-address">
            <ul class="mm-address-list">
                <li><a href="tel:+110001111111" class="mm-address-item tel-number">+11 (000) 111-11-11</a></li>
                <li><a href="mailto:info@devstudio.com" class="mm-address-item">info@devstudio.com</a></li>
            </ul>
        </address>

        <ul class="mm-soc-list">
            <li class="mm-soc-item">
                <a href="https://www.instagram.com/" class="mm-soc-link">
                    <svg class="" width="24" height="24">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="mm-soc-item"><a href="https://x.com/" class="mm-soc-link">
                    <svg class="" width="24" height="24">
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="mm-soc-item">
                <a href="https://www.facebook.com/?locale=uk_UA" class="mm-soc-link">
                    <svg class="" width="24" height="24">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="mm-soc-item">
                <a href="https://www.linkedin.com/feed/" class="mm-soc-link">
                    <svg class="" width="24" height="24">
                        <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>

        </ul>
    </div>
</div>