<section class="section">
    <div class="container portfolio-container">
        <h2 class="portfolio-title">Our Portfolio</h2>
        <ul class="portfolio-list">
            <li class="portfolio-list-item">
                <div class="img-overlay">
                    <picture>
                        <source media="(min-width: 1158px)" srcset="./images/portfolio/portfolio-desk-1-min.jpg 1x,
                                         ./images/portfolio/portfolio-desk-1@2x-min.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/portfolio/portfolio-tab-1-min.jpg 1x,
                                         ./images/portfolio/portfolio-tab-1@2x-min.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/portfolio/portfolio-mob-1-min.jpg 1x,
                                         ./images/portfolio/portfolio-mob-1@2x-min.jpg 2x">

                        <img src="./images/portfolio/portfolio-desk-1-min.jpg" alt="Banking App" width="360"
                            height="300">
                    </picture>
                    <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie
                        Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                </div>
                <div class="app-content">
                    <h3 class="projects">Banking App</h3>
                    <p class="form">App</p>
                </div>
            </li>
            <li class="portfolio-list-item">
                <div class="img-overlay">
                    <picture>
                        <source media="(min-width: 1158px)" srcset="./images/portfolio/portfolio-desk-2-min.jpg 1x,
                                         ./images/portfolio/portfolio-desk-2@2x-min.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/portfolio/portfolio-tab-2-min.jpg 1x,
                                         ./images/portfolio/portfolio-tab-2@2x-min.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/portfolio/portfolio-mob-2-min.jpg 1x,
                                         ./images/portfolio/portfolio-mob-2@2x-min.jpg 2x">

                        <img src="./images/portfolio/portfolio-desk-2-min.jpg" alt="Banking App" width="360"
                            height="300">
                    </picture>
                    <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie
                        Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                </div>
                <div class="app-content">
                    <h3 class="projects">Cashless Payment</h3>
                    <p class="form">Marketing</p>
                </div>
            </li>
            <li class="portfolio-list-item">
                <div class="img-overlay">
                    <picture>
                        <source media="(min-width: 1158px)" srcset="./images/portfolio/portfolio-desk-3-min.jpg 1x,                                         
                                         ./images/portfolio/portfolio-desk-3@2x-min.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/portfolio/portfolio-tab-3-min.jpg 1x,
                                         ./images/portfolio/portfolio-tab-3@2x-min.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/portfolio/portfolio-mob-3-min.jpg 1x,
                                         ./images/portfolio/portfolio-mob-3@2x-min.jpg 2x">

                        <img src="./images/portfolio/portfolio-desk-3-min.jpg" alt="Banking App" width="360"
                            height="300">
                    </picture>
                    <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie
                        Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                </div>
                <div class="app-content">
                    <h3 class="projects">Meditation App</h3>
                    <p class="form">App</p>
                </div>
            </li>
            <li class="portfolio-list-item">
                <div class="img-overlay">
                    <picture>
                        <source media="(min-width: 1158px)" srcset="./images/portfolio/portfolio-desk-4-min.jpg 1x,
                                         ./images/portfolio/portfolio-desk-4@2x-min.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/portfolio/portfolio-tab-4-min.jpg 1x,
                                         ./images/portfolio/portfolio-tab-4@2x-min.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/portfolio/portfolio-mob-4-min.jpg 1x,
                                         ./images/portfolio/portfolio-mob-4@2x-min.jpg 2x">

                        <img src="./images/portfolio/portfolio-desk-4-min.jpg" alt="Banking App" width="360"
                            height="300">
                    </picture>
                    <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie
                        Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                </div>
                <div class="app-content">
                    <h3 class="projects">Taxi Service</h3>
                    <p class="form">Marketing</p>
                </div>
            </li>
            <li class="portfolio-list-item">
                <div class="img-overlay">
                    <picture>
                        <source media="(min-width: 1158px)" srcset="./images/portfolio/portfolio-desk-5-min.jpg 1x,
                                         ./images/portfolio/portfolio-desk-5@2x-min.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/portfolio/portfolio-tab-5-min.jpg 1x,
                                         ./images/portfolio/portfolio-tab-5@2x-min.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/portfolio/portfolio-mob-5-min.jpg 1x,
                                         ./images/portfolio/portfolio-mob-5@2x-min.jpg 2x">

                        <img src="./images/portfolio/portfolio-desk-5-min.jpg" alt="Banking App" width="360"
                            height="300">
                    </picture>
                    <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie
                        Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                </div>
                <div class="app-content">
                    <h3 class="projects">Screen Illustrations</h3>
                    <p class="form">Design</p>
                </div>
            </li>
            <li class="portfolio-list-item">
                <div class="img-overlay">
                    <picture>
                        <source media="(min-width: 1158px)" srcset="./images/portfolio/portfolio-desk-6-min.jpg 1x,
                                         ./images/portfolio/portfolio-desk-6@2x-min.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/portfolio/portfolio-tab-6-min.jpg 1x,
                                         ./images/portfolio/portfolio-tab-6@2x-min.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/portfolio/portfolio-mob-6-min.jpg 1x,
                                         ./images/portfolio/portfolio-mob-6@2x-min.jpg 2x">

                        <img src="./images/portfolio/portfolio-desk-6-min.jpg" alt="Banking App" width="360"
                            height="300">
                    </picture>
                    <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie
                        Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                </div>
                <div class="app-content">
                    <h3 class="projects">Online Courses</h3>
                    <p class="form">Marketing</p>
                </div>
            </li>
        </ul>
    </div>
</section>